// Pipeline parameters

params {
    input_tsv = 'metadata.csv' 
    genome = '/data/mouse_ref/GRCm38/GRCm38.p6.genome.fa'
    threads = 20
    pass = 'two'
    maxRAM = 10
    LB = 'RNAseq'
    PL = 'illumina'
    read_length = 150
    refDir = '/data/mouse_ref/GRCm38/star_gencode_index/150'
    bed = '/data/mouse_ref/GRCm38/gencode.vM25.sinCHR.annotation.bed'
    gtf = '/data/mouse_ref/GRCm38/gencode.vM25.sinCHR.annotation.gtf'
}

// Execution profiles
profiles {
    conda {
        conda.enabled = true
        conda.useMicromamba = true
    }
}

// Process resources
process {
    cpus = 2
    memory = 4.GB

    // Error strategy
    errorStrategy = 'retry'
    maxRetries = 2
}