// Pipeline parameters

params {
    input_csv = 'samples.csv' 
    genome = 'hg38'
    threads = 20
    pass = 'two'
    LB = 'RNAseq'
    PL = 'illumina'
    read_length = 150
	suffix = '_1.fq.gz'
	suffix2 = '_2.fq.gz'
	maxRAM = 10
	force = 'False'
}

// Execution profiles
profiles {
    conda {
        conda.enabled = true
        conda.useMicromamba = true
    }
    docker {
        docker.enabled = true
    }
}

// Process resources
process {
    cpus = 2
    memory = 4.GB

    // Error strategy
    errorStrategy = 'retry'
    maxRetries = 2
}

// Reporting and tracing
report {
    file = "${params.outdir}/report.html"
    enabled = true
    overwrite = true
}
trace {
    file = "${params.outdir}/trace.txt"
    enabled = true
    overwrite = true
}
timeline {
    file = "${params.outdir}/timeline.html"
    enabled = true
    overwrite = true
}