// Pipeline parameters

params {
    input_tsv = 'metadata.csv' 
    genome = '/data/human_ref/hg38/hg38.fa'
    threads = 20
    //pass = 'two'
    //maxRAM = 10,
    //LB = 'RNAseq'
    //PL = 'illumina'
    read_length = 150
	maxRAM = 10
    refDir = '/data/human_ref/hg38/star_gencode_index/150'
    gtf = '/data/human_ref/hg38/gencode.v33.sinCHR.annotation.gtf'
}

// Execution profiles
profiles {
    conda {
        conda.enabled = true
        conda.useMicromamba = true
    }
}

// Process resources
process {
    cpus = 2
    memory = 4.GB

    // Error strategy
    errorStrategy = 'retry'
    maxRetries = 2
}